# Dependencies
node_modules/

# Vite build output & cache
client/dist/
client/.vite/

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
**/.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
